@font-face {
    font-family: 'Graphik';
    src: url("./fonts/Graphik-Regular.otf")
}

@font-face {
    font-family: 'Graphik';
    src: url("./fonts/Graphik-Medium.otf");
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #202020;
    font-family: 'Graphik', sans-serif;
    font-size: 18px;
    background-image: url(img/background.svg),linear-gradient(#f4f4f4, #f3f5f7 15%);
    background-image: url(img/background.svg),linear-gradient(#d8f0ff, #a3d1ff 15%);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
svg {
    vertical-align: middle;
    margin-top: -3px;
}
header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    float: left;
    background: #a3d1ff;
    padding: 5px 0 5px;
    line-height: 38px;
}
.main_head {
    max-width: 1055px;
    margin: auto;
}
.logo {
    width: 35px;
    float: left;
    margin: 0px;
}

.list_1 {
    float: right;
    padding-left: 30px; 
}
.list_1 li {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
} 

.list_1 a{
    padding: 7px 10px;
    color: #202020;
    }

.btn_list1 a{
    background: none;
    border: 1px solid transparent;
    box-shadow: none;
    fill: #fff;
    background-color: #353535;
    border: 1px solid rgb(27, 27, 27);
    box-shadow: inset 0 1px 0 #545454;
    border-radius: 3px;
}
.btn_list1 a:hover {
    fill: rgba(255,255,255,0.9);
    background-color: rgb(0, 0, 0);
    border-color: #000000;
    box-shadow: inset 0 1px 0 rgb(36, 36, 36);
}
.banner {
    position: sticky;
    top: 0px;
    width: 100%;
    padding-top: 90px;
    background: #3a5ec5;
}
  
.main_menu {
    max-width: 1055px;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.list_3 .parent1_menu {
    float: left;
    position: relative;
}
.parent1_menu a {
    font-size: 16px;
    font-weight: 700;
    padding: 12px 16px 12px;
    width: 100%;
    line-height: 40px;
    word-spacing: 5px;
    cursor: pointer;
    color: #fff;;
}

.sub1_menu {
    position: absolute;
    z-index: 1;
    display: none;
    width: max-content;
    background: #fff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.14);
    border: 1px solid #ccc;
    border-top: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
}

.sub1_menu a {
    display: inline-block;
    padding: 0 10px 0;
    word-spacing: 0;
    color: #202020;
}

.sub1_menu a:hover {
    background: #a3d1ff;
}

.parent1_menu:hover .sub1_menu {
    display: block;
}
.content {
    max-width: 1055px;
    margin: auto;
    display: flex;
    padding: 45px 0 25px;
}

#main_content {
    line-height: 30px;
    width: 728px;
    text-align: justify;
    margin-right: 20px;
    padding: 20px 35px 45px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.57);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.57);
}

#main_content p {
    margin: 0;
}

#main_content img{
    width: 100%;
}

.list_content {
    display: grid;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.57);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.57); 
}
.list_content a {
    color: #202020;
    float: left;
    width: 100%;
    padding: 10px;
}

.list_content a:hover {
background: #0095ff;
}

.list_post {
    margin-top: 20px;
}
footer {
    width: 100%;
    float: left;
    font-weight: bold;
    font-size: 16px;
}
.content_footer {
    max-width: 1055px;
    margin: 20px auto 0;
}
.content_footer li {
    display: inline-block;
    margin-right: 35px;
}

.content_footer ul {
    margin: 10px 0 25px;
}

.content_footer a {
    color: #202020;
    text-decoration: underline;
}

.content_footer a:hover {
    font-size: 18px;
    transition: .7s;
    letter-spacing: 2px;
}
/* menu 1 mobi */

#list_2 {
    float: right;
    display: none;
    width: 80px;
    height: 39px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #0095ff;
    border-radius: 5px;
    border: 1px solid #07c;
    box-shadow: inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
}

#list_2 a {
    width: 100%;
    float: left;
    color: #202020;
    border-bottom: 1px solid #ccc;
}

#list_2 a:hover {
    background: #ffc40a;
}

#menu_list2 {
    position: absolute;
    right: 0;
    top: 49px;
    overflow: hidden;
    display: none;
    width: 100%;
    background: #fffff8;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32);
}

/* menu 2 mobi */

.menu_mobi {
    width: 100%;
    line-height: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 10px 20px;
    background-color: #F4F7FA;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.add {
    width: 27px; 
    float: right;
}

#list_4 {
    width: 100%;
    display: none;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32);
    top: 0;
    left: 0;
}

.parent2_menu a{
    float: left;
    word-spacing: 5px;
    width: 100%;
    padding: 10px 20px;
    background: rgb(250, 250, 244);
    color: #202020;
    border-bottom: 1px solid #ccc;
}

.parent2_menu a:hover {
    font-weight: 700;
    color: #202020;
    background: #e2e2e2;
    text-align: center;
}

/* Reponsive */

@media(max-width: 1230px) {
    .main_head{
        width: 95%;
    }

    .main_menu {
        width: 96%;
    }
    .content {
        width: 95%;
    }
    .content_footer {
        width: 95%;
    }
}

/* Mobile */
@media(max-width: 973px) {
    .list_3 {
        display: none;
    }
    .menu_mobi {
        display: block;
    }
    .banner {
        top: 26px;
    }
    #main_conten {
        width: 600px
    }
}

@media(max-width: 800px) {
 
    
    .list_1 {
        display: none;
    }
    #list_2 {
        display: block;
    }
}

@media(max-width: 395px) {

    .banner {
        padding-top: 76px;
        }

}
